APP_TITLE=Cat Charity Fund
APP_DESCRIPTION=Charity donation API
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=change-me
FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=change-me
JWT_TOKEN_LIFETIME=3600

# Google API integration, optional
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
EMAIL=
